@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

/*Utility Class-уудын стайл*/
.text-primary{
    color: #93cb52;
}

/*Main Class-уудын стайл*/
#navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: #333;
    color: azure;
    z-index: 1;
    padding: 1rem;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    color: azure;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover{
    background-color: #93cb52;
    border-radius: 5px;
}